/* COMPOSITION */
.wrapper {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.stack-s > * + * {
  margin-block-start: 1em;
}

.stack-m > * + * {
  margin-block-start: 2em;
}

.cluster {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cluster > * {
  flex-basis: 4rem;
  flex-shrink: 0;
}

/* BLOCK */
.tabs__tab {
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: transparent;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-family: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
  color: #6c757d;
}

.tabs__tab-list {
  padding-block-start: 1rem;
  padding-inline-start: 0.5rem;
}

.tabs__panels {
  margin-block-start: 0;
}

.tabs__panel {
  border: 2px solid rgba(108, 117, 125, 1);
}

.tabs__panel > * {
  border-top: none;
  padding: 1em;
  display: block;
  width: 100%;
  font-size: 1rem;
}

.editor {
  height: 30rem;
  border: none;
  outline: transparent;
  resize: none;
}

/* UTILITY */
.bg-white {
  background-color: white;
}

.rounded {
  border-radius: 0.25em;
}

.no-rounded-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.block {
  display: block;
}

.right-text {
  text-align: end;
}
.center-text {
  text-align: center;
}

.font-large {
  font-size: var(--fs-lg);
}

.bold {
  font-weight: var(--fw-bold);
}

.italicize {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.spaced-lettering {
  letter-spacing: 2px;
}

.secondary-font {
  font-family: var(--ff-secondary);
}
